.header{
    display: flex;
    width: 1500px;
    margin: auto;
    /* border: ; */
    padding-top: 10px;
    padding-bottom: 10px;
}
.country{
    /* margin-right: 10px; */
    padding-right: 10px;
}
.tip{
    margin-right: 8px;
    color: red;
}
.free{
    margin-right: 15px;
}
.shop{
    margin-right: 200px;
}
.name{
    margin-right: 10px;
}
.imagbox{
    margin: auto;
    display: block;
    background-color: #fd5632;
    text-align: center;
}
.waist{
    display: flex;
    align-items: center;
    width: 1500px;
    /* height: 100px; */
}
.logo{
    width: 500px;
    text-align:right;
    padding-top: 10px;
    display:block ;
}
.list{
    display: inline;
    /* width: 500px; */
    /* height: 10px; */
    /* padding-top: 15px; */
    margin: 0 80px;
}
.keybox{
    padding: 10px;
}
.searchlist{
    display: inline;
}
.searchtop{
    display: inline;
}
.searchwrap{
    display: inline;
}
.searchbox{
    display: block;
    width: 500px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #fd5632;
    position: relative;
    overflow: hidden;
}
.search{
    position: absolute;
    right: 0;
    top: 0px;
    padding: 10px;
    background-color: #fd5632;
    width: 24px;
    height: 10px;
    text-align: center;
    /* border-top-right-radius: 18px;
    border-bottom-right-radius: 18px; */
}
.down{
    display: inline;
    padding-top: 10px;
}
.downjpg{
    width: 60px;
    padding-top: 5px;
}
.banner{
    display: flex;
    background-color: #f77326;
    width: 800px;
    height: 40px;
    margin: auto;
    text-align: center;
    font-size: 18px;
    color: white;
    flex: 1;
}
.market{
    display: flex;
    width: 1200px;
    height: 40px;
    margin: auto;
}
.sc{
    text-align: center;
    background-color:#ff5000;
    width: 200px;
    color: white;
    font-size: 18px;
    padding-top: 10px;
}
.sn{
    padding-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    color: white;
}
.sna{
    padding-top: 10px;
    margin-right: 10px;
    color: white;
}
.eve{
    padding: 9px;
    width: 500px;
    margin: -3px;
}
.sortbox{
    position: relative;
    width: 1200px;
    margin: auto;
    display: flex;
}
.sort{
    /* position: absolute;
    right: 0px; */
    display: block;
    width: 196px;
    border: 2px solid #ff5000;
    text-align: center;
    padding-top: 20px;
}
.sortlist{
    display: inline;
    font-size: 14px;
    margin: 6px;
}
.sortwrap{
    padding-top: 20px;
    padding-bottom: 5px;
}
.imgbox{
    display: inline;
}
.imgbor{
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
}
.imgs{
    margin-right: 24px;
}
.imgt{
    text-align: center;
    width: 300px;
}
.corin{
    display: flex;
    margin: auto;
    /* text-align: center;
    width: 400px; */
    justify-content: center;

}
.club{
    padding-right: 2px;
    background-color: oldlace;
    width: 90px;
    border-radius: 5px;
    height: 20px;
    padding-top: 5px;
    margin-right: 10px;
    color: #ff5000;
    /* text-align: center; */
}
.jpgbox{
    width: 300px;
    display: block;
    margin: auto;
}
.Bulletinboard{
    width: 300px;
    display: flex;
}
.Bulletin{
    color: black;
    padding-right: 10px;
    margin: auto;
    padding-top: 5px;
}
.notice{
    text-align: left;
    padding-top: 5px;
}
.diagram{
    /* display: block; */
    margin: auto;
    /* text-align: center; */
    width: 1200px;
    height: 100px;
    background-color: white;
    /* position: absolute; */
}
.god{
    /* position: relative; */
    padding-top: 20px;
    width: 90px;
    margin-left: 15px;

}
.picture{
    display: flex;
    margin: auto;
}
.pic{
    padding: 15px 8px;
}
   
.picbanner{
    padding-top: 20px;

}
.activity{
    width: 90px;
    padding-right: 10px;
}
.threepic{
    display: flex;
    padding-right: 10px;

}
.twopic{
    display: block;
}
.twopic img{
    display: block;
}
.onepic{
    height: 200px;
    width: 200px;
}

.btn{
    position: fixed;
    right: 0;
    top: 50%;
    bottom: 50%;
    width: 50px;
    height: 50px;
}
.picbox{
    display: flex;
    /* padding-right: 20px; */
}
.smp{
    height: 100px;
    width: 100px;
}
.bp{
    display: flex;
}
.tu{
    width: 111px;
    padding-right: 10px;
    padding-top: 5px;
}
.pm{
    width: 150px;
    height: 150px;
}
.gl{
    width: 208px;
    height: 234px;
    padding-right: 10px;

}
.new{
    text-align: center;
    width: 298px;
    height: 248px;
    padding: 20px 20px;
}
.xp{
    padding-top: 40px;
    width: 193px;
    /* height: 300px; */
 
    padding: 20px;
}
.xxp{
    width: 197px;
    height: 197px;
}
.xtitile{
    width: 30px;
    height: 30px;
    margin: auto;
    background: url('https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png') no-repeat;
    background-position: center 0px;
}
.xtitle{
    width: 30px;
    height: 30px;
    margin: auto;
    /* justify-items: center; */
    background: url('https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png') no-repeat;
    background-position: center -87px;
}
.xxtitle{
    width: 30px;
    height: 30px;
    margin: auto;
    background: url('https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png')no-repeat;
    background-position: center -44px;
}
.xxxtitle{
    width: 30px;
    height: 30px;
    margin: auto;
    background: url('https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png')no-repeat;
    background-position: center -132px;
}
.icon{
    width: 60px;
    height: 60px;
}
.stb{
    width: 30px;
    height: 30px;
    margin: auto;
    background: url('https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png')no-repeat;
    background-position: center -176px;
}
.sstb{
    width: 30px;
    height: 30px;
    margin: auto;
    background: url('https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png')no-repeat;
    background-position: center -220px;
}
.ssstb{
    width: 30px;
    height: 30px;
    margin: auto;
    background: url('https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png')no-repeat;
    background-position: center -264px;
}
.sssstb{
    width: 30px;
    height: 30px;
    margin: auto;
    background: url('https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png')no-repeat;
    background-position: center -308px;
}
.text{
    display: flex;
    padding-top: 40px;
}
.price{
    flex: 1;
    font-size: 20px;
    color: #f77326;
}
.number{
    padding-top: 5px;
    color: gray;
}
.ib{
    display: flex;
    /* padding: 10px; */
}
.ibo{
    padding: 10px;
}
.word{
    width: 200px;
    padding: 20px;
    
}
